.row
    .span6
        h2 Check Details
        table(class="table table-striped")
            thead
                tr
                    th= 'Key'
                    th= 'Value'
            tbody(id="check-details")
    .span6
        h2 Alarms
        table(class="table table-striped")
            thead
                tr
                    th= 'Key'
                    th= 'Value'
            tbody(id="check-alarms-list")