.row
	.span6
		h2 Entity Details
		table(class="table table-striped")
			thead
				tr
					th= 'Key'
					th= 'Value'
			tbody(id="entity-details")
	.span6
		h2 Checks
		table(class="table table-striped")
			thead
				tr
					th= 'Label'
					th= 'ID'
			tbody(id="entity-checks-list")