.container-fluid
  .row-fluid
    #graph-container.span12

  .row-fluid
    .span4
      h4= 'Entities'
      table.table.table-condensed.table-hover#entity-table

    .span4
      h4= 'Checks'
      table.table.table-condensed.table-hover#check-table

    .span4
      h4= 'Metrics'
      table.table.table-condensed.table-hover#metric-table
