.rs-row
  #graph-container.span-12

.rs-row
  .span-4
    h4= 'Entities'
    table.table.table-condensed.table-hover#entity-table

  .span-4
    h4= 'Checks'
    table.table.table-condensed.table-hover#check-table

  .span-4
    h4= 'Metrics'
    table.table.table-condensed.table-hover#metric-table
