!!!
html
  head
    title= title || "Rackspace Monitoring Metrics Preview"

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel='icon', type='img/png', href='/img/rackspace_favicon.png')
    link(rel='stylesheet', href='https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1.0.0-rc.3/canon.min.css')
    link(rel='stylesheet', href='/css/base.css')

    block header

    if use_google_analytics
      script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{google_analytics_id}']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body.rs-responsive

    div.rs-wrapper
      div.rs-nav-utility.rs-fixed-top
        div.rs-container
          block utilitynav
      div.rs-nav-primary.rs-fixed-top
        div.rs-container
          div.rs-nav-brand
            a(href="#entities")
          block primarynav
      div.rs-body
        div.rs-container  
          div.rs-main
            div.rs-content.rs-panel
              div.rs-inner
                block content
      div.rs-push
    div.rs-footer
      block footer
    //
      ul.breadcrumb(id="breadcrumb")
        block breadcrumb
