script(type="text/template", id="check-details-template")
	|   <tr><td><strong>id</strong></td><td><%= id %></td></tr>
	| 	<tr><td><strong>label</strong></td><td><%= label %></td></tr>

<h2>Check Details</h2>
table(id="check-details")
<h2>Alarms</h2>
table(id="check-alarms-list")