script(type="text/template", id="entity-details-template")
	|   <tr><td><strong>id</strong></td><td><%= id %></td></tr>
	| 	<tr><td><strong>label</strong></td><td><%= label %></td></tr>
	| 	<tr><td><strong>agent id</strong></td><td><%= agent_id %></td></tr>
	| 	<tr><td><strong>created at</strong></td><td><%= created_at %></td></tr>
	|   <tr>
	|		<td><strong>ip addresses</strong></td>
	|		<td>
	|			<dl>
	|				<% _.each(ip_addresses, function(ip, label) { %>
	|					<dt><strong><%= label %></strong></dt>
	|					<dd><%= ip %></dd>
	|				<% }); %>
	|			</d>
	|	</tr>
	|   <tr>
	|		<td><strong>metadata</strong></td>
	|		<td>
	|			<dl>
	|				<% _.each(metadata, function(value, key) { %>
	|					<dt><strong><%= key %></strong></dt>
	|					<dd><%= value %></dd>
	|				<% }); %>
	|			</dl>
	|	</tr>
	| 	<tr><td><strong>managed</strong></td><td><%= managed %></td></tr>
	| 	<tr><td><strong>uri</strong></td><td><%= uri %></td></tr>

.row
	.span6
		h2 Entity Details
		table(class="table table-striped")
			thead
				tr
					th= 'Key'
					th= 'Value'
			tbody(id="entity-details")
	.span6
		h2 Checks
		table(class="table table-striped")
			thead
				tr
					th= 'Label'
					th= 'ID'
			tbody(id="entity-checks-list")