script(type="text/template", id="entity-details-template")
	|   <tr><td><strong>id</strong></td><td><%= id %></td></tr>
	| 	<tr><td><strong>label</strong></td><td><%= label %></td></tr>
	| 	<tr><td><strong>agent id</strong></td><td><%= agent_id %></td></tr>
	| 	<tr><td><strong>created at</strong></td><td><%= created_at %></td></tr>
	|   <tr>
	|		<td><strong>ip addresses</strong></td>
	|		<td>
	|			<table>
	|				<% _.each(ip_addresses, function(ip, label) { %> 
	|					<tr><td><strong><%= label %></strong></td><td><%= ip %></td></tr> 
	|				<% }); %>
	|			</table>
	|	</tr>
	|   <tr>
	|		<td><strong>metadata</strong></td>
	|		<td>
	|			<table>
	|				<% _.each(metadata, function(value, key) { %> 
	|					<tr><td><strong><%= key %></strong></td><td><%= value %></td></tr> 
	|				<% }); %>
	|			</table>
	|	</tr>
	| 	<tr><td><strong>managed</strong></td><td><%= managed %></td></tr>
	| 	<tr><td><strong>uri</strong></td><td><%= uri %></td></tr>

<h2>Entitiy Details</h2>
table(id="entity-details")
<h2>Checks</h2>
table(id="entity-checks-list")