.container-fluid
  .row-fluid
    .span2
      h4= "Saved Graphs"
  
    .span8
      .row
        .span12
          #chart_container.chart
            #chart
            #legend_container
              #smoother(title="Something")
              #legend
            #slider
      .row
        .span4
          h4= 'Entities'
          table.table.table-condensed.table-hover#entity-table
  
        .span4
          h4= 'Checks'
          table.table.table-condensed.table-hover#check-table
  
        .span4
          h4= 'Metrics'
          table.table.table-condensed.table-hover#metric-table