p= "GRAPHER"

.row
  .span12
    svg#graphersvg


link(rel='stylesheet', href='/nvd3/src/nv.d3.css')
link(rel='stylesheet', href='/css/plot.css')

// script(type='text/javascript', src='/js/extern/jqueryjquery.dataTables.js')
script(type='text/javascript', src='/js/d3.v2.js')
script(type='text/javascript', src='/nvd3/nv.d3.js')
script(type='text/javascript', src='/js/plot.js')
