.container-fluid
  .row-fluid
    .span3
      h4= "Saved Graphs"

    #chart.span9
      #daterangeselect.btn-group.pull-right
        button.btn.dropdown-toggle(data-toggle='dropdown')
          | Time Scale
          span.caret
        ul.dropdown-menu

      //- #axisselect.btn-group
      //-   button.btn.dropdown-toggle(data-toggle='dropdown')
      //-     | Axis Style
      //-     span.caret
      //-   ul.dropdown-menu

    .row-fluid
      .span4
        h4= 'Entities'
        table.table.table-condensed.table-hover#entity-table

      .span4
        h4= 'Checks'
        table.table.table-condensed.table-hover#check-table

      .span4
        h4= 'Metrics'
        table.table.table-condensed.table-hover#metric-table