!!!
html
  head
    title= title || "Rackspace Monitoring"

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/rickshaw.css')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    link(rel='stylesheet', href='/css/dc.css')


    block header

  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          block navbar

    div.container
      block content
