body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clickable {
	cursor: pointer;
}

.chart {
	width: 960px;
	height: 500px;
}

.chart-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chart-title {
    text-align: center;
}

.dc-chart ._0 .line {
    stroke: #1f77b4;
}

.dc-chart ._1 .line {
    stroke: #ff7f0e;
}

.dc-chart ._2 .line {
    stroke: #2ca02c;
}

.dc-chart ._3 .line {
    stroke: #d62728;
}

.dc-chart ._4 .line {
    stroke: #9467bd;
}

.dc-chart ._5 .line {
    stroke: #8c564b;
}

.dc-chart ._6 .line {
    stroke: #e377c2;
}

.dc-chart ._7 .line {
    stroke: #7f7f7f;
}

.dc-chart ._8 .line {
    stroke: #bcbd22;
}

.dc-chart ._9 .line {
    stroke: #17becf;
}