body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clickable {
	cursor: pointer;
}

.chart {
	width: 960px;
	height: 500px;
}

.chart-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chart-title {
    text-align: center;
}

._0,
.dc-chart ._0 .line {
    stroke: #1f77b4;
    background-color: #1f77b4;
}

._1,
.dc-chart ._1 .line {
    stroke: #ff7f0e;
    background-color: #ff7f0e;

}

._2,
.dc-chart ._2 .line {
    stroke: #2ca02c;
    background-color: #2ca02c;
}

._3,
.dc-chart ._3 .line {
    stroke: #d62728;
    background-color: #d62728;
}

._4,
.dc-chart ._4 .line {
    stroke: #9467bd;
    background-color: #9467bd;
}

._5,
.dc-chart ._5 .line {
    stroke: #8c564b;
    background-color: #8c564b;
}

._6,
.dc-chart ._6 .line {
    stroke: #e377c2;
    background-color: #e377c2;
}

._7,
.dc-chart ._7 .line {
    stroke: #7f7f7f;
    background-color: #7f7f7f;
}

._8,
.dc-chart ._8 .line {
    stroke: #bcbd22;
    background-color: #bcbd22;
}
._9,
.dc-chart ._9 .line {
    stroke: #17becf;
    background-color: #17becf;
}

#selected-metrics > span {
    margin-right: 5px;
    white-space: normal;
    display: inline-block;
}
