@import url('./bootstrap.css');
@import url('./jquery-ui.css');
@import url('./dc.css');

body {
  min-width: 800px;
}

.clickable {
	cursor: pointer;
}

.chart {
	width: 960px;
	height: 500px;
}

.chart-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chart-title {
    text-align: center;
}

._0,
.dc-chart ._0 .line {
    stroke: #1f77b4;
    background-color: #1f77b4;
}

._1,
.dc-chart ._1 .line {
    stroke: #ff7f0e;
    background-color: #ff7f0e;

}

._2,
.dc-chart ._2 .line {
    stroke: #2ca02c;
    background-color: #2ca02c;
}

._3,
.dc-chart ._3 .line {
    stroke: #d62728;
    background-color: #d62728;
}

._4,
.dc-chart ._4 .line {
    stroke: #9467bd;
    background-color: #9467bd;
}

._5,
.dc-chart ._5 .line {
    stroke: #8c564b;
    background-color: #8c564b;
}

._6,
.dc-chart ._6 .line {
    stroke: #e377c2;
    background-color: #e377c2;
}

._7,
.dc-chart ._7 .line {
    stroke: #7f7f7f;
    background-color: #7f7f7f;
}

._8,
.dc-chart ._8 .line {
    stroke: #bcbd22;
    background-color: #bcbd22;
}
._9,
.dc-chart ._9 .line {
    stroke: #17becf;
    background-color: #17becf;
}

#selected-metrics > span {
    margin-right: 5px;
    white-space: normal;
    display: inline-block;
}


.hostinfo .progress {
    display: inline-block;
    width: 100px;
    margin: 0 10px 0 0
}

.list-header button {
    margin-bottom: 20px;
}

.loading {
    background: red;
    width: 100%;
    min-height: 250px;
    background: url("../images/loading_spinner.gif") center center no-repeat;
}

table.table.monitoring-item-table {
  border: 1px solid rgb(221, 221, 221);
}

h2.monitoring-item-title, input.monitoring-item-title {
  font-size: 28px;
  font-weight: 600;
  padding: 0 0 4px 0;
  margin: 0 0 10px 0;
  height: auto;
}

.modal-backdrop {
  z-index: 1140;
}

.modal {
  z-index: 1150;
}
