#chart {
    height: 350px;
}

#chart svg {
    display: block;
}

#daterangeselect {
    float:right;

}

.dataTables_length {
    display:none ;
}

#entitytable_wrapper input {
    float: right;
    width: auto;
}

#entitytable_wrapper btn-group {
    text-align: right;
}

#entitytable_wrapper .paginate_disabled_previous,
#entitytable_wrapper .paginate_enabled_previous {
    float: left;
}

#entitytable_wrapper .paginate_enabled_previous:before {
    content: "← ";
}

#entitytable_wrapper .paginate_enabled_next:after {
    content: " →";
}

#entitytable_wrapper .paginate_disabled_next,
#entitytable_wrapper .paginate_enabled_next {
    float: right;
}

.nvd3 .nv-groups path.nv-line {
    stroke-width: 1.5px;
}
.nv-legendWrap {
    display: none;
}